/*
CSS Transform
translate
transform:translate(20px);
transform:translate(20px, 50px);

trensform:translateX(20px);
transform:translateY(20px);
*/

/*
Skew
transform: skew(30deg);
*/

div{
    height: 300px;
    width: 300px;
    background-color: lightgreen;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 2s ease-in;
}

div:hover{
    background-color: lightblue;
    color: brown;
    transform: scale(2);
    transform: translateX(-200px)
}
div:active{
    background-color: palevioletred;
    color: white;
}

