.loader{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius: 50%;
    border-left: 20px solid blue;
    border: 20px solid black;
    animation: spinAnimate 3s ease-in 0s infinite normal;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}