/*Display Property
Display: inline/block/inline-block/none

inline-Takes only the space required by the element.(no margin/padding)
block-Takes full space available in width.
inline-block-Similar to inline but we can set margin and padding.
none-To remove element from document flow.
*/
/*div{
    background-color: pink;
    display: block;
}
button{
    display: block;
}
#box1{
    background-color: blue;
    width: 100px;
    height: 200px;
    margin: 25px;
    padding: 25px;
    display:inline-block;
}
#box2{
    background-color: green;
    width: 100px;
    height: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    visibility: hidden;
}

/* Visibility
visibility: hidden;

Note: When visibility is set to none, space for the element is reserved. 
But for display set to none , no space is reserved oe blocked for the element.
*/

/* Alpha Channel
Opacity (0 to 1)

RGBA
color:rgba(255,0,0,0.5);
color:rgba(255,0,0,1);
Example of rgba is:
*/
/*#box3{
    background-color:rgba(255, 0, 0, 0.3);
    width: 100px;
    height: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
*/

/*
Units in CSS
Relative
%
1. Percentage(%)
It is often used to define a size as relative to an element's parent object.
width:33%;
margin-left:50%;

2. em
Font size of the parent, in the case of typographical properties like font-size, and font size of the element itself, in the case of other properties like width.

3. rem (Root Em)
Font size of the root element.
*/
/*#box1{
    height:100px;
    width:100px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height:50px;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
    height: 30vh;
}*/

/*
Others
vh:relative to 1% viewport height.
vw: relative to 1% viewport width.
*/

/*Position
The position CSS property sets how an element is positioned in a document.
position: static/ relative/ absolute/ fixed

1. static- default position( The top, right, bottom, left, and z-index properties have no effect.)

2. relative- element is relative to itself. (The top, right, bottom, left, and z-index will work.)

3. absolute- positioned relative to its closed positioned ancestor. 

4. fixed- positioned relative to browser. (removed from flow)

5. sticky- positioned based on user's scroll position. 
*/
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
     position: static;
     top: 50px;
}

#box2{
    position: relative;
    top: 50px;
    left: 10px;
}
#box3{
    position: sticky;
    top: 0px;
    left: 20px;
}
#box4{
    position:fixed;
    top: 0px;
}

/*z-index
It decide the stack level of elements Overlapping elements with a larger z-index cover those with a smaller one.

z-index: auto(0)
z-index:1/2/.....
z-index:-1/-2/.....
*/


